@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap');

/*VARIABLES CSS PARA CONFIGURAR UNA VEZ*/

:root{
    --logo-size-padding: 10rem;
    --content-width: 40rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e2dbc8;
    font-family: 'Bitter';
}

/*MAIN HEADER*/

#mainHeader ul {
    margin: 0;
    padding: 0;
}

#mainHeader a{
    color: #f26864;
    font-size: 0.75rem;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.75rem;
}

#mainHeader #selMainNav {
    color: #ffffff;
}

#mainHeader nav {
    width: var(--content-width);
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mainHeader {
    background-color: #423737;
    list-style-type: none;
}

#mainHeader li {
    display: inline;
}

/*MAIN HEADER ENDS*/

/*MAIN FOOTER*/

#mainFooter {
    background-color: #596c68;
}

#mainFooter div * {
    display: inline-block;
}

#mainFooter div {
    width: var(--content-width);
    margin: 0 auto;
    padding-top: 0.75rem;
}

#mainFooter img {
    width: var(--logo-size-padding);
}

#mainFooter p {
    font-size: 0.75rem;
    text-align: right;
    width: calc(var(--content-width) - var(--logo-size-padding) - 1rem);
}

/*MAIN FOOTER ENDS*/

/*BODY*/

body main{
    width: var(--content-width);
    margin: 0 auto;
}

/*BODY ENDS*/

/*ARTICLE HEADER*/

article header h1,
main h1{
    font-size: 1.75rem;
    text-align: center;
    font-weight: bolder;
    color: #596c68;
}

article header h2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: #ed2612;
}

article header figure {
    width: var(--content-width);
    margin: 0;
}

article header figure img {
    width: 39rem;
    border: 0.5rem solid #ffffff;
}

article header figcaption {
    text-align: right;
    font-size: 0.75rem;
    font-weight: 600;
}

article header figcaption time{
    font-size: 0.75rem;
    font-weight: 400;
}

/*ARTICLE HEADER ENDS*/

/*MAIN TEXT*/

article p{
    font-size: 0.75rem;
    text-align: justify;
}

article a{
    color: #f00d09;
    font-weight: bold;
}

article h3 {
    color: #596c68;
}

/*MAIN TEXT ENDS*/

/*BLOCKQUOTES*/

article blockquote {
    margin: 0;
    padding: 0.5rem 1.50rem;
    background-color: #ffffff;
    color: #f01205;
    text-align: left;
    border-left: 0.20rem solid #596c68;
}

article blockquote p {
    margin: 0.25rem 0;
    color: #000000;
    text-transform: uppercase;
}

article blockquote cite {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
}

/*BLOCKQUOTES ENDS*/

/*ASIDE*/

article aside{
    background-color: #ffffff;
    color: #596c68;
    padding: 0.5rem 1.50rem;
    border-left: 0.20rem solid #596c68;
}

article aside h2{
    color: #000000;
    font-size: 1rem;
    text-align: left;
}

article footer,
article footer small a {
    margin: 1rem 0;
    color: #596c68;
    font-weight: 500;
    font-size: 0.75rem;
}

/*ASIDE ENDS*/

/*----BENEFICIOS----*/

main h2 {
    font-size: 1rem;
    font-weight: 600;
    text-align: justify;
    color: #596c68;
}

main ul > li,
main ol {
    font-size: 0.75rem;
    margin: 0.75rem 0;
}

main ul {
    list-style: none;
    padding-left: 1.5rem;
}

main #ejemplos-robots {
    list-style: image();
}

main ul .material-icons{
    font-size: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.25rem;
}

#beneficios-robotica > li:nth-child(1) i {
    color: red;
}

#beneficios-robotica > li:nth-child(2) i {
    color: blue;
}

#beneficios-robotica > li:nth-child(3) i {
    color: #ff1493;
}

#beneficios-robotica > li:nth-child(5) i {
    color: #800080;
}

#ejemplos-robots img{
    height: 1.5rem;
    margin-left: -1.5rem;
    margin-right: 0.25rem;
}

#ejemplos-robots ol {
    list-style: decimal;
}

/*----BENEFICIOS ENDS----*/

/*----CENTROS----*/

dl {
    margin: 2rem 0;
}

dl > * {
    margin: 0.32rem 0;
}

dl dt {
    color: red;
    display: inline;
}

dl dd {
    margin-left: 0;
    font-size: 0.75rem;
    text-align: justify;
}

.viewSite {
    float: right;
    margin-left: auto;
    background-color: #f26864;
    border-radius: 0.3rem;
    padding: 0.32rem;
}

.viewSite,
.viewSite .material-icons {
    font-size: 0.75rem;
    text-decoration: none;
    color: #ffffff;
}

dl .localidad-def {
    display: block;
    color: #596c68;
    font-size: 0.75rem;
}

/*----CENTROS FIN----*/